<strong>Olá, {{ deliveryman }}</strong>
<p>A entrega foi cancelada, confira os detalhes abaixo: </p>
<p>
  <strong>ID da entrega: </strong> {{ order }} <br/>
  <strong>Motivo: </strong> {{ description }}
</p>

