<strong>Olá, {{{ deliveryman }}}</strong>
<p>Há uma entrega disponivel para retirada, confira detalhes abaixo: </p>
<p>
  <strong>ID: </strong> {{{ order }}} </br>
  <strong> Nome do produto: </strong> {{{ product }}} </br>
</p>
